<!DOCTYPE html>
<html ng-app="MyApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yamila Gorrin Proyecto Angular</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.9/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
        </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
        </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
        </script>

    <script src="controller.js"></script>
    <style>
        body {
            background-color: darkgrey;
        }
    </style>
</head>

<body>

    <div class="container p-3 my-3 border">
        <div class="container p-3 my-3 border" ng-controller="FirstController">
            <h1>Component 1</h1>

            <div class="container p-3 my-3 border">
                <h3>Modulo Agregar</h3>
                <input type="text" ng-model= "newPost.id" placeholder="ID">
                <input type="text" ng-model= "newPost.title" placeholder="Titulo">
                <input type="text" ng-model= "newPost.body" placeholder="Contenido">
                <button ng-click="addPost()">Agregar</button>
                <hr>
            </div>
            <div class="container p-3 my-3 border">
                <h3>Component 2</h3>
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Titulo</th>
                        <th scope="col">Contenido</th>
                        <th scope="col">Acción</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="post in posts">
                        <th scope="row">{{post.id}}</th>
                        <td>{{post.title}}</td>
                        <td>{{post.body}}</td>
                        <td><button ng-click="edit(post.id)">Editar</button> <br>
                            <button ng-click="delete(post.id)">Eliminar</button></td>
                      </tr>
                     
                    </tbody>
                  </table>
                
                <hr>
            </div>
            
        </div>
    </div>
</body>

</html>